#### 컬럼명 바꾸기 : 항목, 성별구분, 연령구분5세, 환자수, 내원일수, 청구건수, 요양급여비용총액, 보험자부담금, (연도, 본인부담금)
#### 쉼표 제거, int로 변환
#### 연령구분5세 라벨링 하기, 대칭되는 값이 무엇인지도 같이 보내기
#### 남은 0, 여는 1, 계는 3으로 int로 변환

In [65]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [66]:
raw_data = pd.read_csv('/Users/bangjiyun/Downloads/df_ally_years.csv')

In [67]:
raw_data.drop(columns='Unnamed: 0',inplace=True)

In [68]:
raw_data

,항목,성별구분,연령구분5세,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,본인부담금,연도
0,난청,계,계,548913,1159130,1108228,76405654,50910783,25494871,2017
1,난청,남,소계,255128,541714,518350,36019274,23825287,12193987,2017
2,난청,남,5세미만,4944,12132,11721,3783566,3151499,632067,2017
3,난청,남,5_9세,4119,8540,8239,1076442,726551,349891,2017
4,난청,남,10_14세,4885,9151,8701,1108291,735925,372366,2017
...,...,...,...,...,...,...,...,...,...,...
41505,흡연(니코틴중독),여,60_64세,32,62,62,1494,885,609,2021
41506,흡연(니코틴중독),여,65_69세,26,46,46,1259,720,539,2021
41507,흡연(니코틴중독),여,70_74세,12,15,15,423,188,235,2021
41508,흡연(니코틴중독),여,75_79세,0,0,0,0,0,0,2021
41509,흡연(니코틴중독),여,80세이상,2,2,2,55,21,34,2021

In [70]:
raw_data['연령구분5세'][raw_data['연령구분5세'] =='5세미만'] = '005세미만'
raw_data['연령구분5세'][raw_data['연령구분5세'] =='5_9세'] = '05_9세'
raw_data.head(20)

/var/folders/0_/gqzzfsxd1391jx3x0k4j_lhm0000gn/T/ipykernel_69732/3026987014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['연령구분5세'][raw_data['연령구분5세'] =='5세미만'] = '005세미만'
/var/folders/0_/gqzzfsxd1391jx3x0k4j_lhm0000gn/T/ipykernel_69732/3026987014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['연령구분5세'][raw_data['연령구분5세'] =='5_9세'] = '05_9세'

,항목,성별구분,연령구분5세,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,본인부담금,연도
0,난청,계,계,548913,1159130,1108228,76405654,50910783,25494871,2017
1,난청,남,소계,255128,541714,518350,36019274,23825287,12193987,2017
2,난청,남,005세미만,4944,12132,11721,3783566,3151499,632067,2017
3,난청,남,05_9세,4119,8540,8239,1076442,726551,349891,2017
4,난청,남,10_14세,4885,9151,8701,1108291,735925,372366,2017
5,난청,남,15_19세,8332,15215,14519,1237969,768201,469768,2017
6,난청,남,20_24세,9064,16550,15552,1282828,792031,490797,2017
7,난청,남,25_29세,8826,15895,15227,1158065,753752,404313,2017
8,난청,남,30_34세,9869,18506,17587,1209391,785456,423935,2017
9,난청,남,35_39세,11973,23922,22532,1459146,950727,508419,2017
10,난청,남,40_44세,13079,28044,26392,1736712,1106291,630421,2017
11,난청,남,45_49세,15851,35074,32880,2247951,1425463,822488,2017
12,난청,남,50_54세,18056,40155,37756,2578919,1679035,899884,2017
13,난청,남,55_59세,23867,51893,49107,3178582,2017260,1161322,2017
14,난청,남,60_64세,24904,54236,51248,3576895,2312375,1264520,2017
15,난청,남,65_69세,26142,56318,54385,3110333,1981075,1129258,2017
16,난청,남,70_74세,26378,57221,55669,2766041,1743409,1022632,2017
17,난청,남,75_79세,24716,50772,49673,2457571,1596877,860694,2017
18,난청,남,80세이상,23037,48090,47162,2050575,1299359,751216,2017
19,난청,여,소계,293785,617416,589878,40386380,27085496,13300884,2017

In [71]:
# 라벨인코딩
items = [i for i in raw_data['연령구분5세']]
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
raw_data['연령구분5세'] = labels

In [72]:
raw_data.head(20)

,항목,성별구분,연령구분5세,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,본인부담금,연도
0,난청,계,17,548913,1159130,1108228,76405654,50910783,25494871,2017
1,난청,남,18,255128,541714,518350,36019274,23825287,12193987,2017
2,난청,남,0,4944,12132,11721,3783566,3151499,632067,2017
3,난청,남,1,4119,8540,8239,1076442,726551,349891,2017
4,난청,남,2,4885,9151,8701,1108291,735925,372366,2017
5,난청,남,3,8332,15215,14519,1237969,768201,469768,2017
6,난청,남,4,9064,16550,15552,1282828,792031,490797,2017
7,난청,남,5,8826,15895,15227,1158065,753752,404313,2017
8,난청,남,6,9869,18506,17587,1209391,785456,423935,2017
9,난청,남,7,11973,23922,22532,1459146,950727,508419,2017
10,난청,남,8,13079,28044,26392,1736712,1106291,630421,2017
11,난청,남,9,15851,35074,32880,2247951,1425463,822488,2017
12,난청,남,10,18056,40155,37756,2578919,1679035,899884,2017
13,난청,남,11,23867,51893,49107,3178582,2017260,1161322,2017
14,난청,남,12,24904,54236,51248,3576895,2312375,1264520,2017
15,난청,남,13,26142,56318,54385,3110333,1981075,1129258,2017
16,난청,남,14,26378,57221,55669,2766041,1743409,1022632,2017
17,난청,남,15,24716,50772,49673,2457571,1596877,860694,2017
18,난청,남,16,23037,48090,47162,2050575,1299359,751216,2017
19,난청,여,18,293785,617416,589878,40386380,27085496,13300884,2017

In [60]:
# '계': 17, '소계' : 18, '005세미만': 0, '05_9세': 1, '10_14세': 2, '15_19세': 3, '20_24세': 4, '25_29세' : 5, '30_34세' : 6, '35_39세' : 7, '40_44세' : 8, '45_49세' : 9, '50_54세' : 10, 
# '55_59세' : 11, '60_64세' : 12, '65_69세': 13, '70_74세': 14, '75_79세' : 15, '80세이상' : 16

In [84]:
raw_data['성별구분'][raw_data['성별구분'] == 3] = 2
raw_data['성별구분'][raw_data['성별구분'] == 0] = 0
raw_data['성별구분'][raw_data['성별구분'] == 1] = 1

/var/folders/0_/gqzzfsxd1391jx3x0k4j_lhm0000gn/T/ipykernel_69732/938582353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['성별구분'][raw_data['성별구분'] == 3] = 2
/var/folders/0_/gqzzfsxd1391jx3x0k4j_lhm0000gn/T/ipykernel_69732/938582353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['성별구분'][raw_data['성별구분'] == 0] = 0
/var/folders/0_/gqzzfsxd1391jx3x0k4j_lhm0000gn/T/ipykernel_69732/938582353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['성별구분'][raw_data['성별구분'] == 1] = 1

In [86]:
raw_data.to_csv('/Users/bangjiyun/3rd_project/year/raw_data.csv')

In [85]:
raw_data

,항목,성별구분,연령구분5세,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,본인부담금,연도
0,난청,2,17,548913,1159130,1108228,76405654,50910783,25494871,2017
1,난청,0,18,255128,541714,518350,36019274,23825287,12193987,2017
2,난청,0,0,4944,12132,11721,3783566,3151499,632067,2017
3,난청,0,1,4119,8540,8239,1076442,726551,349891,2017
4,난청,0,2,4885,9151,8701,1108291,735925,372366,2017
...,...,...,...,...,...,...,...,...,...,...
41505,흡연(니코틴중독),1,12,32,62,62,1494,885,609,2021
41506,흡연(니코틴중독),1,13,26,46,46,1259,720,539,2021
41507,흡연(니코틴중독),1,14,12,15,15,423,188,235,2021
41508,흡연(니코틴중독),1,15,0,0,0,0,0,0,2021
41509,흡연(니코틴중독),1,16,2,2,2,55,21,34,2021

In [92]:
lifestyle = raw_data[raw_data['항목'].str.contains('생활습관병')]
lifestyle

,항목,성별구분,연령구분5세,환자수,내원일수,청구건수,요양급여비용총액,보험자부담금,본인부담금,연도
1947,생활습관병_고지혈증,2,17,1882522,6091047,6077237,130405252,87215331,43189921,2017
1948,생활습관병_고지혈증,0,18,745247,2129169,2125041,48533517,31763729,16769788,2017
1949,생활습관병_고지혈증,0,0,96,165,163,11998,7895,4103,2017
1950,생활습관병_고지혈증,0,1,1018,1478,1477,60900,35167,25733,2017
1951,생활습관병_고지혈증,0,2,3098,4676,4656,181552,109786,71766,2017
...,...,...,...,...,...,...,...,...,...,...
37292,생활습관병_알코올성간질환,1,12,2247,10129,6555,2204157,1651507,552650,2021
37293,생활습관병_알코올성간질환,1,13,1334,5882,3681,1127564,825104,302460,2021
37294,생활습관병_알코올성간질환,1,14,673,3501,1822,671712,529306,142406,2021
37295,생활습관병_알코올성간질환,1,15,403,2046,1086,310125,226884,83241,2021
37296,생활습관병_알코올성간질환,1,16,338,1247,863,167012,119104,47908,2021